img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {background-color: slategrey;}

#P1S
{
    text-align: center;
}

#HT
{
    text-align: center;
}

#main
{
    text-align: center;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

div
{
    text-align: center;
}

